<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account created</title>
</head>
<body>
    <div>
        <h1>Enter details</h1>
       <div>
        <p>Enter ur full name</p>
        <input type="text" id="name" name="name" placeholder="Enter ur full name">
       </div>
       <div>
        <span id="generateid"></span>
        <button type="button" id="generateb">generateid</button>
       </div>
       <span id="start">Start</span>
       <script src="/javascript/details.js"></script>
</body>
</html>