<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Test</title>
</head>
<body>
    <div >
        <input type="text" name="uniqueid" id="uniqueid" placeholder="Enter your unique id">
       <button type="button" id="directresult">result</button>
    </div>
    <div>
    <button type="button" id="startnew">click here</button>
    </div>
   <script src="/javascript/accounts.js"></script>
</body>
</html>
